body {
background-color: #Fff;
color: #5b5b5b;
}

/* Text */

h1.title {
  font-size: 2.8rem;
   font-family: 'Merriweather', serif;
    font-weight: 300;
margin: 0 auto;
  color: #000;
}
h2 {
	font-size: 2.0rem;
   font-family: 'Merriweather', serif;
    font-weight: 300;
  color: #000;
}

p {
  font-family: 'Roboto';
  font-weight: 100;
  text-align: justify;
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

p.main {
  text-align: center;
  font-size: 1.5em;
}
p.mainthree {
  text-align: center;
  font-size: 1.2em;
}


p.maintwo {
  text-align: center;
  font-size: 1em;
}

/* Sections */

.containerone {

width: 100%;
margin: 0 auto;
padding: 100px;
  background-color: #fff;
  text-align: center;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;
}
.containertwo {
width: 100%;
margin: 0 auto;
padding: 100px;
text-align: center;
background-color: #f2f2f2;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.col-centered{
width: 75%;
margin: 0 auto;
}

footer {
	background-color: #f2f2f2;
width: 100%;
margin: 0 auto;
padding: 20px;
text-align: center;
  font-size: 0.9em;
    font-family: 'Roboto';
  font-weight: 100;
}

.author{
height: auto;
max-height: 300px;
border-radius: 50%;
  filter: none;
  -webkit-filter: grayscale(0%);
padding-bottom: 20px;
width: auto;
margin: 10px;
margin: 0 auto;
}

.author:hover{
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}


/* Links */

a {
color: #d45661;
}
a:hover {
text-decoration:none;
color: black;
border-bottom: 1px solid #d45661;}

.social {
color: black;
 text-decoration: none;
  border: 0 none;
  padding:10px;
}

.social:hover {
  color: #d45661;
  text-decoration: none;
   border-bottom:  0px;

}


/* Other styling  */

img {
max-width: 100%;
height: auto;
}

.twitter-tweet {
background: #F8F8F8; 
padding:20px;
color: black;
border: 0px;
border-radius: 2%;
margin-top: 10px;
margin-left: 30px;
margin: 0 auto;
}


ul {
text-align: center;  list-style: none;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1.2em;
 
}

li {
  padding-bottom: 25px;
  text-align: center;
}

.other {
  padding-bottom: 20px;
  padding-left: 20px;
  width: 70%;
}

/* li::before {
  content: "• ";
  color: #d45661; /* or whatever color you prefer */

.thumb {
	display: inline-block;
	width: 250px;
	height: 250px;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
      font-family: 'Roboto';
  font-weight: 100;
  font-size: 1em;
}

.thumb img {
	border: 1px solid #d4d4d4;
	border-radius: 5%;
}

.thumb:hover {
-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */

}

.other {
	border: 1px solid #d4d4d4;
	border-radius: 2%;
	background-color: white;
	margin: 0 auto;
	padding-top: 20px;
	padding-right: 20px;

}

.button-view {
	border: 1px solid #d4d4d4;
	border-radius: 2%;
	background-color: white;
	padding: 10px;
	font-size: 1.2em;
}

/* Responsive */
@media screen and (max-width: 480px) {
.containerone {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 20px;
padding-right: 0px;

}
.containertwo {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 20px;
padding-right: 0px;
}

ul {
padding-left: 0px;
padding-right: 0px;
  font-size: 1.1em;
}

p {
  width: 100%;
  padding: 0px;
    font-size: 1.1em;
}
p.main {
  font-size: 1.4em;
}
p.mainthree {
  text-align: center;
  font-size: 1.1em;
}

.row {
  width: 100%;
}

.social {
  padding: 0px;
}

.other {
	padding-bottom: 20px;
	padding-left: 20px;
	width: 100%;
}

}

